:root {
  --color-orange: #FFA500;
  --color-light-orange: #FFCC00;
  --color-opaque-orange: rgb(255, 165, 0, 0.75);
  --header-font-color: #000000;
  --nav-font-color: #ffffff;
  --background-color: #ffffff;
  --nav-background-color: #000000;
  --nav-hover-color: #333333;
  --font-family-main: Arial, sans-serif;
  --font-family-heading: 'Press Start 2P', cursive;
  /* --font-size-navigation: max(10px, min(2vw, 30px)); */
  --font-size-navigation: clamp(10px, 2vw, 35px);
  --font-size-base: clamp(15px, 2.25vw, 40px);
  --font-size-heading: clamp(15px, 3.5vw, 50px);
  --font-size-big-heading: clamp(15px, 4.25vw, 75px);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-image: url('/images/site/checkerboard.webp');
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-main);
  background-color: var(--background-color);
}

#top-header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: var(--header-font-color);
}

.siteName a {
  text-decoration: none;
  font-size: var(--font-size-big-heading);
  font-weight: bold;
  font-family: var(--font-family-heading);
  color: var(--header-font-color);
}

#tools a {
  text-decoration: none;
  font-size: var(--font-size-base);
  font-family: var(--font-family-main);
  color: var(--header-font-color);
}

nav {
  background-color: var(--nav-background-color);
  height: fit-content;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  flex: 1;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  color: var(--nav-font-color);
  font-size: var(--font-size-navigation);
}

nav ul li:hover {
  background-color: var(--nav-hover-color);
}

nav a {
  text-decoration: none;
  color: var(--nav-font-color);
}

#delorean-display h1 {
  font-size: var(--font-size-big-heading);
  font-weight: bold;
  font-family: var(--font-family-heading);
}

#delorean-display {
  position: relative;
}

#delorean-display img {
  width: 100%;
  display: block;
}

#delorean-details {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-25%);
  width: fit-content;
  height: fit-content;
  background-color: var(--color-opaque-orange);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

#delorean-details h1 {
  font-size: var(--font-size-heading);
  font-weight: bold;
  color: var(--header-font-color);
  font-family: var(--font-family-heading);
}

#delorean-details ul {
  padding-left: 0;
  list-style-type: none;
}

#delorean-details li {
  color: var(--header-font-color);
  font-size: var(--font-size-base);
}

button {
  background-color: var(--nav-background-color);
  color: var(--nav-font-color);
  border: none;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: var(--font-size-navigation);
}

button:hover {
  background-color: var(--nav-hover-color);
}

#delorean-reviews h2 {
  font-weight: bold;
  color: var(--header-font-color);
  font-size: var(--font-size-heading);
}

#delorean-reviews ul {
  padding-left: 0;
}

#delorean-reviews li {
  font-size: var(--font-size-base);
}

#upgrade-navigation h2 {
  font-weight: bold;
  color: var(--header-font-color);
  font-size: var(--font-size-heading);
}

#upgrade-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.upgrade-item {
  background-color: var(--color-orange);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.upgrade-item img {
  display: block;
  margin: 0 auto 10px;
}

.upgrade-item a {
  color: #000000;
  font-size: var(--font-size-base) / 2;
}

.upgrade-item:hover {
  background-color: var(--color-light-orange);
}

#inv-display {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#inv-display li {
  background-color: var(--color-orange);
  border-radius: 1vw;
  padding: 2vw;
  flex-basis: calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin: 0.25vw;
}

#inv-display li a {
  display: block;
  text-decoration: none;
  color: inherit;
}

#inv-display li img {
  width: 100%;
  border-radius: 1vw 1vw 0 0;
}

.namePrice {
  margin-top: 1vw;
}

.namePrice hr {
  margin: 0.5vw 0;
}

.namePrice h2 {
  font-size: var(--font-size-base);
  font-weight: bold;
  font-family: var(--font-family-main);
  margin-bottom: 0.5vw;
}

.namePrice span {
  font-size: var(--font-size-base);
}

#details-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-box {
  max-width: 80%;
  margin-bottom: 20px;
}

#image-box img {
  max-width: 100%;
  height: auto;
}

#info-box {
  max-width: 80%;
}

footer {
  margin-left: 25px;
}

.notice {
  color: red;
  font-size: var(--font-size-base);
}

#login, #register, #management, #addClassification, #addInventory {
  max-width: 50vw;
  margin: 3.5vw auto;
  padding: 2.5vw;
  background-color: var(--color-light-orange);
  border-radius: 2vw;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.2);
}

#login h1, #register h1, #management h1, #addClassification h1, #addInventory h1 {
  font-size: var(--font-size-big-heading);
}

#login form, #register form, #addClassification form, #addInventory form {
  display: flex;
  flex-direction: column;
}

#login label, #register label, #addClassification label, #addInventory label {
  font-size: 2.5vw;
  margin-bottom: 1.25vw;
}

#login input, #register input, #addClassification input, #addInventory input, #addInventory select {
  padding: 1.25vw;
  margin-bottom: 1.25vw;
  border-radius: 1vw;
  border: 0.1vw solid #ccc;
  font-size: var(--font-size-base);
}

#management p, #management a {
  font-size: var(--font-size-base);
}

.register-link {
  margin-top: 1.25vw;
  text-align: center;
}

.register-link a {
  color: var(--header-font-color);
  text-decoration: none;
}

.register-link a:hover {
  color: var(--nav-hover-color);
}

@media screen and (min-width: 768px) {  
  nav {
    margin: 0 20px;
  }

  body {
    margin: 50px auto;
    background-color: var(--background-color);
    border: 5px solid var(--color-orange);
    border-radius: 20px;
    width: calc(100% - 40px);
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 20);
  }

  #delorean-display {
    margin: 0 20px;
  }

  .grid-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px;
  }

  #upgrade-navigation {
    order: -1;
  }

  #upgrade-navigation, #delorean-reviews {
    flex: 1;
  }

  #delorean-reviews ul {
    padding-left: 20px;
  }

  #inv-display {
    grid-template-columns: repeat(3, 1fr);
  }

  #details-view {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  #image-box, #info-box {
    max-width: 45%;
  }

  #login, #register, #management, #addClassification, #addInventory  {
    max-width: 35vw;
  }
}
